{% extends 'authapp/base.html' %}
{% load static %}

{% block content %}
    <div class="" style="padding: 20px">
        <form class="form-horizontal" action="{% url "auth:login" %}" method="post">
            {% csrf_token %}
            {{ login_form.as_p }}
            {% if next %}
                <input type="hiden" name="next" value="{{ next }}">
            {% endif %}
            <input type="submit" class="btn btn-primary" value="войти">
        </form>
        <hr>
        <a class="btn btn-link" href={% url "auth:register" %}>регистрация</a>
        <br>
        <a class="btn btn-link" href={% url "auth:register" "vk-oauth2" %}?next=/>вход через VK</a>
    </div>

{% endblock %}