{% extends 'adminapp/base.html' %}
{% load static %}


{% block content %}
    <div class="">
    {% if object.is_active %}
        Уверены, что хотите удалить пользователья {{ object.get_full_name }}?
    {% else %}
        Уверены, что хотите восстановить пользователь {{ object.get_full_name }}?
    {% endif %}
    </div>
    <form method="post">
    {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Уверен">
    </form>
    <a href="{% url "adminapp:users_list" %}" class="btn btn-success">
    Нет
    </a>
{% endblock %}